# Package {{ name }}

## Introduction to {{ name }}

TODO: describe {{ name }}.

To use the package:

```
load("{{ name }}");
```

## Definitions for {{ name }}

### Function: {{ mac_name }}_hello ()

TODO: describe this function.
