[package]
name = "{{ name }}"
version = "0.1.0"
description = "TODO: describe {{ name }}"
license = "MIT"
entry = "{{ entry }}"
{% if include_doc %}doc = "doc/{{ name }}.md"
{% endif %}
[test]
{% if include_test %}files = ["rtest_{{ mac_name }}.mac"]
{% endif %}